@import "./variables.scss";

body{ 
  background: grey;
}

$MOBILE_HEADER_TOTAL: $MOBILE_HEADER_HEIGHT + ($MOBILE_HEADER_PADDING * 2);
.header {
  // 下に押す為に必要
  width: 100vw;
  // height: $MOBILE_HEADER_HEIGHT + ($MOBILE_HEADER_PADDING * 2);
  height: $MOBILE_HEADER_TOTAL;
  nav {
    position: fixed;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $MOBILE_HEADER_PADDING 0;
    // height: $MOBILE_HEADER_HEIGHT + ($MOBILE_HEADER_PADDING * 2);
    height: $MOBILE_HEADER_TOTAL;
    a {
      img {
        margin: 0;
        margin-left: 24px;
        height: $MOBILE_HEADER_HEIGHT;
      }
    }
    svg {
      margin-right: 24px;
      height: $MOBILE_HEADER_HEIGHT;
    }
  }
}

$PC_HEADER_TOTAL: $PC_HEADER_HEIGHT + ($PC_HEADER_PADDING * 2);
@media (min-width: $MEDIA_BREAK_POINT){
  .header {
  // height: $PC_HEADER_HEIGHT + ($PC_HEADER_PADDING * 2);
  height: $PC_HEADER_TOTAL;
    nav {
      // height: $PC_HEADER_HEIGHT + ($PC_HEADER_PADDING * 2);
      height: $PC_HEADER_TOTAL;
      a {
        img {
          height: $PC_HEADER_HEIGHT;
          margin-left: 34px;
        }
      }
    }
    nav.mobile {
      display: none;
    }
  }
}