.header {
  position: relative;
  height: 32px;
  nav {
    position: fixed;
  }
  .mobile {
    background: red;
    img {
      height: 32px;
    }
    svg {
      height: 32px;
    }
  }
}

.footer {
  background: blue;
}

@media (min-width: 426px){
  .header {
    background: pink;
    .mobile {
      display: none;
    }
  }
}