@import "./header.module.scss";
@import "./footer.module.scss";
@import "./variables.scss";


a {
  text-decoration: none;
}

.pcOnly{
  display: none;
}

.mobileOnly {
  display: initial;
}

@media (min-width: $MEDIA_BREAK_POINT){
  .pcOnly {
    display: initial;
  }
  .mobileOnly {
    display: none;
  }
}