$MOBILE_HEADER_HEIGHT: 32px;
$MOBILE_HEADER_PADDING: 12px;

a {
  text-decoration: none;
}

.pcOnly{
  display: none;
}

.mobileOnly {
  display: initial;
}

.header {
  width: 100vw;
  height: $MOBILE_HEADER_HEIGHT + ($MOBILE_HEADER_PADDING * 2);
  nav {
    position: fixed;
    background: #fff;
    width: 100%;
  }
  nav.mobile {
    display: flex;
    justify-content: space-between;
    padding: $MOBILE_HEADER_PADDING 0;
    img {
      margin-left: 24px;
      height: $MOBILE_HEADER_HEIGHT;
    }
    svg {
      margin-right: 24px;
      height: $MOBILE_HEADER_HEIGHT;
    }
  }
}

.footer {
  background: blue;
}

@media (min-width: 769px){
  .pcOnly {
    display: initial;
  }
  .mobileOnly {
    display: none;
  }
  .header {
    nav {
     span {
       font-size: 18px;
     }
    }
    .mobile {
      display: none;
    }
  }
}