body{
    margin: 0;
    padding: 0;
}
#main{
    /* background: black; */
    background: black;
    color: darkgray;
    padding: 30px;
    font-size: 30px;
}

#jumbotron{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.hidden {
    display: none;
}
#logo{
    color: white;
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#logo object{
    position: relative;
    top: 0;
    animation: logoSlideLeft 2.2s ease-out, fadeIn 4s forwards;
    animation-delay: 3.0s;
    opacity: 0;
    width: 300px;
    display: block;
    margin: 0 auto;
}
#logo h1{
    position: relative;
    top: 0;
    animation: logoSlideRight 2.2s ease-out, fadeIn 4s forwards;
    animation-delay: 3.0s;
    opacity: 0;
    font-size: 38px;
    margin-top: 90px;
}
#bg{
    background: black;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}
#bg::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    animation: darken 0.2s 3.4s forwards;
}
.half {
    flex-basis: 50%;
    position: relative;
}
.half div{
    position: absolute;
    width: 100%;
    height: 100%;
} 
.clipper{
    transform: scaleX(2);
    transition: 1s;
}
.right-clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    transform-origin: right;
}
.left-clip {
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    transform-origin: top left;
}
#left .first{
    background: url('orchestra.png');
    background-size: cover;
    background-position: 60%;
    top: -100vh;
    animation: slideTop 0.4s ease-out forwards; 
    animation-delay: 1s;
}
#left .second{
    background: url('JAGMO.png');
    background-size: cover;
    left: -100vw;
    animation: slideLeft 0.4s ease-out forwards; 
    animation-delay: 1.8s;
}
#left .third{
    background: url('orchestra2.jpg');
    background-size: cover;
    bottom: -100vh;
    animation: slideBottom 0.4s ease-out forwards; 
    animation-delay: 2.6s;
}
#right .first{
    background: url('camera.jpg');
    background-size: cover;
    bottom: -100vh;
    animation: slideBottom 0.4s ease-out forwards; 
    animation-delay: 1.4s;
}
#right .second{
    background: url('camera2.jpg');
    background-size: cover;
    right: -100vw;
    animation: slideRight 0.4s ease-out forwards; 
    animation-delay: 2.2s;
}
#right .third{
    background: url('free_movie.jpg');
    background-size: cover;
    top: -100vh;
    animation: slideTop 0.4s ease-out forwards; 
    animation-delay: 3s;
}